body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}

.center {
  margin: auto;
  padding-top: 45%;
  padding-left: 45%;
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #fafafa;
}

.hidden {
  display: none;
}

.squeeze {
  margin: auto;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 50px;
  display: none;
}
